Source: baselib
Section: ocaml
Priority: optional
Maintainer: Pippijn van Steenhoven <pip88nl@gmail.com>
Build-Depends:
 debhelper (>= 8.0.0),
 obuild (>= 0.1.1),
 dh-ocaml (>= 0.9),
 ocaml-nox (>= 3.12),
 ocaml-findlib,
 libbatteries-ocaml-dev,
 libderiving-ocsigen-ocaml-dev,
 libsexplib-camlp4-dev,
 libz-dev | zlib1g-dev,
 noweb,
 valgrind
Standards-Version: 3.9.4
Homepage: https://github.com/pippijn/baselib
Vcs-Git: git://github.com/pippijn/baselib
Vcs-Browser: https://github.com/pippijn/baselib

Package: libbaselib-ocaml
Architecture: any
Depends:
 ${ocaml:Depends},
 ${misc:Depends},
 ${shlibs:Depends}
Provides: ${ocaml:Provides}
Description: Common library for OCaml projects
 This library contains some common modules I use for
 most of my projects.
 Corelib does not use any system resources and native code,
 making it usable in js_of_ocaml. Baselib builds on top of
 it, adding some modules depending on native code or system
 resources.
 .
 This package contains the shared runtime libraries.

Package: libbaselib-ocaml-dev
Architecture: any
Depends:
 libfindlib-ocaml-dev,
 libz-dev | zlib1g-dev,
 ${ocaml:Depends},
 ${misc:Depends},
 ${shlibs:Depends}
Provides: ${ocaml:Provides}
Recommends: ocaml-findlib
Description: Common library for OCaml projects
 This library contains some common modules I use for
 most of my projects.
 Corelib does not use any system resources and native code,
 making it usable in js_of_ocaml. Baselib builds on top of
 it, adding some modules depending on native code or system
 resources.

Package: libcorelib-ocaml
Architecture: any
Depends:
 ${ocaml:Depends},
 ${misc:Depends},
 ${shlibs:Depends}
Provides: ${ocaml:Provides}
Description: Common library for OCaml projects
 This library contains some common modules I use for
 most of my projects.
 Corelib does not use any system resources and native code,
 making it usable in js_of_ocaml. Baselib builds on top of
 it, adding some modules depending on native code or system
 resources.
 .
 This package contains the shared runtime libraries.

Package: libcorelib-ocaml-dev
Architecture: any
Depends:
 ${ocaml:Depends},
 ${misc:Depends},
 ${shlibs:Depends}
Provides: ${ocaml:Provides}
Recommends: ocaml-findlib
Description: Common library for OCaml projects
 This library contains some common modules I use for
 most of my projects.
 Corelib does not use any system resources and native code,
 making it usable in js_of_ocaml. Baselib builds on top of
 it, adding some modules depending on native code or system
 resources.
